<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Dev"/>
    <add key="inputDocumentType" value="ATM81000 - EFT Transaction Ticking Report"/>
    <add key="outputDocumentType" value="ATM81000 - EFT Transaction Ticking Report - Spreadsheet"/>
    <add key="excelWorksheetName" value="Ticking Report"/>
    <add key="excelTableStyle" value="TableStyleMedium6"/>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:using" value="Serilog.Sinks.Seq"/>
    <add key="serilog:write-to:Seq.serverUrl" value="https://seqlogtest"/>
    <add key="Application.Name" value="CSTickingReport"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>