<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Environment" value="Dev"/>
    <add key="extractCustomQueryName" value="HE Application Search"/>
    <add key="maxQueryDocuments" value="50000"/>
    <add key="numberOfDaysExtracted" value="90"/>
    <add key="excelReportPath" value="C:\Scratch\HEApplicationExtract.xlsx"/>
    <add key="excelWorksheetName" value="HE Applications"/>
    <add key="excelTableStyle" value="TableStyleMedium6"/>
    <add key="outputDocumentType" value="Home Equity Application Data Extract"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:using" value="Serilog.Sinks.Seq"/>
    <add key="serilog:write-to:Seq.serverUrl" value="https://seqlogtest"/>
    <add key="Application.Name" value="HEApplicationsExtract"/>
  </appSettings>
</configuration>